.auth {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    opacity: 1;
}
.auth >>> .v-card {
    width: 800px
}
.card .v-sheet.v-card {
    box-shadow: none;
}