.list,
.detail {
    box-sizing: border-box;
    padding: 24px 16px 10%;
}
.list {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 70px);
}
.detail {
    padding-bottom: 120px!important;
    height: 100%;
    background-color: #fff;
}
/* 一覧 style */
.drag-icon-td {
    width: 32px;
}
.relative {
    position: relative;
}
.alt_submit {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.basic-list {
    border-collapse: collapse;
    table-layout: unset;
    width: 100%;
}
.basic-list thead {
    background-color: #eee;
}
.basic-list tbody tr {
    border-bottom: 1px solid #ccc;
}
.basic-list tbody tr:hover {
    cursor: pointer;
    background-color: #f6f6f6;
}
.basic-list td {
    font-size: 14px;
    padding: 4px;
}
.options-td {
    text-align: right;
}
/* 詳細 style */
.detail_inner {
    padding-bottom: 60px;
}
.detail_inner >>> .v-text-field__details {
    display: none;
}
.v-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
}
.v-dialog .v-sheet.v-card {
    border-radius: 0;
}
.file_operation_wrap {
    position: relative;
}
.drawer {
    position: absolute;
    bottom: 50%;
    left: 100%;
    box-shadow: 0px 2px 8px #00000029;
    padding: 1rem;
    background-color: #fff;
    z-index: 2;
}
.message_send {
    position: relative;
}
.avatar {
    width: 40px;
}
.message_send_btn {
    width: 80px;
}
.message_send_textarea {
    width: calc(100% - 120px);
}
.icons {
    position: absolute;
    bottom: 8px;
    right: 10%;
}
.v-btn:not(.v-btn--round).v-size--default {
    min-width: unset;
    padding: 0 4px;
}
.message_send_textarea >>> .v-text-field__details {
    display: none;
}
.file_select,
.date_picker,
.task_link,
.select_manager {
    position: absolute;
    box-shadow: 0px 2px 8px #00000029;
    padding: 0.5rem 1rem;
    background-color: #fff;
    z-index: 2;
}
.date_picker,
.select_manager {
    left: 0;
    top: 100%;
}
.select_init {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.file_select {
    right: 0;
    top: 100%;
}

.task_link {
    right: 0;
}
td {
    font-size: 14px;
}
.underlayer-list tr {
    background-color: #f6f6f6;
}
.underlayer-list td {
    padding: 0 16px;
}
.file-table {
    width: 100%;
    border-collapse: collapse;
}
.file-table tbody tr:not(:first-child) {
    border-top: 1px solid #ccc;
}
.file-table td,
.file-table th {
    font-size: 14px;
    padding: 8px;
    vertical-align: center;
}
.operation-td {
    text-align: right;
}
/* editor style */
.subtask-card__wrap {
    display: flex;
    align-items: center;
}
.subtask-card__icon {
    width: 40px;
    text-align: center;
}
.subtask-card__body {
    width: calc(100% - 40px);
    margin-top: 8px;
}
.toolbar_title {
    width: 100%;
}
.input-error-message {
    font-size: 14px;
    color: #ff5252;
    margin-top: 4px;
}